
body{
   font-family: 'Roboto', sans-serif;
}
section{
   text-align: center;
   height: max-content;
   padding: 5%;
}

/* CSS for landing page */
#landing{
   background-image: url(../img/backgrounds/h_img.jpg);
   color: white;
   background-size: cover;
}
#landingarticle{
   padding-top: 14%;
}
#mousy{
   padding-top: 10%;
   padding-bottom: 2%;
}

/* CSS for About Section*/

/* CSS for Services Section*/
#services{
   background-image: url(../img/backgrounds/s_image.jpg);
   background-size: cover;
   color: white;
   padding-top: 8%;
}

/* CSS for What-we-do Section*/
#wwd1 img{
   margin-bottom: 7%;
}
#wwd2 img{
   margin-bottom: 10%;
}
#wwd3 img{
   margin-bottom: 5%;
}
#wwd1 h4{
   margin-bottom: 2%;
}
#wwd2 h4{
   margin-bottom: 2%;
}
#wwd3 h4{
   margin-bottom: 2%;
}

#wwdtext1{
   display: none;
}
#wwdtext2{
   display: none;
}
#wwdtext3{
   display: none;
}

/* CSS for Portfolio Section*/
#wwdrow{
   margin-bottom: 10px;
}
#wwdrow article{
   width: 366px;
   height: 300px;
   background-size: 100%;
   background-position: center;
   background-repeat: no-repeat;
   border: 2px solid white;
}
#wwdrow article:hover{
   opacity: 0.5;
}
#wwdrow article h4{
   border: 2px solid white;
   color: white;
   margin-top: 40%;
   display: none;
}
#projecta{
   background-image: url(../img/portfolio/work1.jpg);
}
#projectb{
   background-image: url(../img/portfolio/work2.jpg);
}
#projectc{
   background-image: url(../img/portfolio/work3.jpg);
}
#projectd{
   background-image: url(../img/portfolio/work4.jpg);
}
#projecte{
   background-image: url(../img/portfolio/work5.jpg);
}
#projectf{
   background-image: url(../img/portfolio/work6.jpg);
}
#projectg{
   background-image: url(../img/portfolio/work7.jpg);
}
#projecth{
   background-image: url(../img/portfolio/work8.jpg);
}

/* CSS for Contact us Page*/
#contact{
   background-image: url(../img/backgrounds/c_image.jpg);
   color: white;
}

.mc-field-group input{
   background: transparent;
}
#mce-NAME{
   float: left;
   margin-left: 170px;
}
#mce-MESSAGE{
   height: 200px;
}
#mce-EMAIL{
   margin-left: -170px;
}

/* CSS for Footer*/
footer{
   text-align: center;
}
